section.descriptor
    .descriptor__img(inert)
        img(src="img/rent/descriptor.webp", alt="")
    .container 
        .descriptor__inner
            h1.descriptor__title Аренда студии Cookforia
            .descriptor__links
                a(href="#").descriptor__link Арендовать студию
                a(href="#").descriptor__link Мастер-классы