section.section.rent-description 
    .container 
        h2.section-title Стильное пространство для любого мероприятия
        .rent-description__inner
            .rent-description__text 
                p Кулинарная студия — это идеальное место для проведения разнообразных мероприятий: от праздников и корпоративовдо съемок телепередач, рекламы и видеоконтента.
                p Наши пространства оснащены всем необходимым оборудованием, включая профессиональную технику, посуду, Wi-Fi, системы освещения и звука.
                p Мы предоставляем премиальное обслуживание, о чем свидетельствуют положительные отзывы наших клиентов. 
                p Cookforia —  ваша площадка для фотосессий, презентаций,пресс-мероприятий и любых других творческих и деловых проектов.
            .rent-description__media 
                img(src="img/rent/holder.png", alt="")
        .rent-description__link
            a(href="#").link-btn Арендовать студию


