section.section.rent-price 
    .container 
        h2.section-title Сколько стоит аренда студии Cookforia?
        .rent-price__value  
            b Базовая ставка 
            span 10 000 руб./час, от 3 часов
        .rent-price__value  
            b Клининг на все время мероприятия 
            span 2000 рублей.
        p.rent-price__description В стоимость аренды входит использование помещения, полностью оборудованной кухни (посуда, бытовая техника), профессионального звукового и светового оборудования, а также высокоскоростного интернета. Мы предоставляем фирменные фартуки с логотипом. Студия предоставляется чистой и готовой к работе.  
        .rent-price__location 
            .rent-price__title Расположение студий 
            .rent-price__text Три наши студии располагаются:
            ul.rent-price__items
                li.rent-price__item Студия на ул. Дыбенко, 8к1 
                li.rent-price__item Студия на Московский проспект 183-185
                li.rent-price__item Студия на ул. Ильюшина 5, корп. 1


