section.descriptor
    .descriptor__img(inert)
        img(src="img/recipes/descriptor.jpg", alt="")
    .container 
        .descriptor__inner
            h1.descriptor__title Рецепты
            .descriptor__links
                a(href="#").descriptor__link Заказать мероприятие
                a(href="#").descriptor__link Мастер-классы