section.search
    .container
        .search__inner 
            .search__socials 
                .search__socials-text Подпишитесь на нас в социальных сетях
                ul.search__socials-list.socials
                    li 
                        a(href="#" target="_blank").search__social.social.social--vk
                    li 
                        a(href="#" target="_blank").search__social.social.social--tg
                    li 
                        a(href="#" target="_blank").search__social.social.social--instagram 
            .search__input-wrap
                input(type="text" placeholder="Найти рецепт по названию").search__input
                button(type="button" aria-label="Найти").search__input-btn 