section.section.faq
    .container
        h4.section-title Вопросы, которые нам часто задают
        ul.faq__list
            li.faq__item.js-faqItem
                .faq__question.js-faqQuestion
                    span Какие мероприятия вы проводите?
                .faq__accordion
                    .faq__accordion-animation
                        .faq__accordion-wrapper
                            .faq__accordion-content
                                .faq__answer
                                    p Мы организуем кулинарные мастер-классы для взрослых и детей, корпоративные тимбилдинги, дни рождения, девичники, детские праздники и многое другое.
            li.faq__item.js-faqItem
                .faq__question.js-faqQuestion
                    span Как проходит кулинарный мастер-класс?
                .faq__accordion
                    .faq__accordion-animation
                        .faq__accordion-wrapper
                            .faq__accordion-content
                                .faq__answer
                                    p Гости готовят блюда под руководством шеф-повара, который делится рецептами и кулинарными секретами. После приготовления вы наслаждаетесь созданными блюдами в уютной атмосфере нашей кулинарной студии.
            li.faq__item.js-faqItem
                .faq__question.js-faqQuestion
                    span Можно ли провести мероприятие в вашей студии с друзьями?
                .faq__accordion
                    .faq__accordion-animation
                        .faq__accordion-wrapper
                            .faq__accordion-content
                                .faq__answer
                                    p Да, мы предлагаем частные кулинарные вечеринки, где вы и ваши друзья сможете вместе приготовить еду и приятно провести время.
            li.faq__item.js-faqItem
                .faq__question.js-faqQuestion
                    span Какое кухонное оснащение используется на мастер-классах?
                .faq__accordion
                    .faq__accordion-animation
                        .faq__accordion-wrapper
                            .faq__accordion-content
                                .faq__answer
                                    p Наша студия оснащена профессиональным оборудованием и инструментами, необходимыми для приготовления разнообразных блюд.
            li.faq__item.js-faqItem
                .faq__question.js-faqQuestion
                    span Проводите ли вы кулинарные тимбилдинги для корпоративных клиентов?
                .faq__accordion
                    .faq__accordion-animation
                        .faq__accordion-wrapper
                            .faq__accordion-content
                                .faq__answer
                                    p Да, мы специализируемся на кулинарных тимбилдингах, которые способствуют сплочению коллектива через совместное приготовление пищи.
            li.faq__item.js-faqItem
                .faq__question.js-faqQuestion
                    span Как записаться на кулинарное приключение в вашей студии?
                .faq__accordion
                    .faq__accordion-animation
                        .faq__accordion-wrapper
                            .faq__accordion-content
                                .faq__answer
                                    p Вы можете связаться с нами по телефону или через форму на сайте для бронирования участия в кулинарном мастер-классе или организации частного мероприятия.
            li.faq__item.js-faqItem
                .faq__question.js-faqQuestion
                    span Можно ли приносить свои напитки на мероприятие?
                .faq__accordion
                    .faq__accordion-animation
                        .faq__accordion-wrapper
                            .faq__accordion-content
                                .faq__answer
                                    p Да, вы можете принести свои алкогольные и безалкогольные напитки без дополнительной оплаты.
            li.faq__item.js-faqItem
                .faq__question.js-faqQuestion
                    span Есть ли ограничения по количеству участников на мероприятиях?
                .faq__accordion
                    .faq__accordion-animation
                        .faq__accordion-wrapper
                            .faq__accordion-content
                                .faq__answer
                                    p В зависимости от формата мероприятия, мы можем принять группы от 2 до 60 человек. Пожалуйста, уточняйте детали при бронировании.