section.section
    .container
        h3.section-title Популярные мастер-классы
        .cards__slider.swiper.js-sliderMaster
            ul.cards__list.swiper-wrapper
                li.card.swiper-slide
                    .card__head
                        .card__img
                            img(src="img/index/slider1.jpg" alt="")
                        ul.card__tags
                            li.card__tag #14февраля
                            li.card__tag #новинка
                            li.card__tag #рецепт
                        .card__label 15 мест осталось
                        .card__title День всех влюбленных
                    .card__body
                        .card__blocks
                            .card__block 
                                b 6000 ₽
                                span Взрослый билет
                            .card__block 
                                b ПТ, 14 февраля
                                span 19:00 - 22:00
                        .card__address Студия на ул. Дыбенко, 8к1 
                        .card__link
                            a(href="mk-separate.html").link-btn Подробнее
                li.card.swiper-slide
                    .card__head
                        .card__img
                            img(src="img/index/slider1.jpg" alt="")
                        ul.card__tags
                            li.card__tag #14февраля
                            li.card__tag #новинка
                            li.card__tag #рецепт
                        .card__label 15 мест осталось
                        .card__title День всех влюбленных или что-то длиннее 
                    .card__body
                        .card__blocks
                            .card__block 
                                b 6000 ₽
                                span Взрослый билет
                            .card__block 
                                b ПТ, 14 февраля
                                span 19:00 - 22:00
                        .card__address Студия на ул. Дыбенко, 8к1 
                        .card__link
                            a(href="mk-separate.html").link-btn Подробнее
                li.card.swiper-slide
                    .card__head
                        .card__img
                            img(src="img/index/slider1.jpg" alt="")
                        ul.card__tags
                            li.card__tag #14февраля
                            li.card__tag #новинка
                            li.card__tag #рецепт
                        .card__label 15 мест осталось
                        .card__title День всех влюбленных
                    .card__body
                        .card__blocks
                            .card__block 
                                b 6000 ₽
                                span Взрослый билет
                            .card__block 
                                b ПТ, 14 февраля
                                span 19:00 - 22:00
                        .card__address Студия на ул. Дыбенко, 8к1 
                        .card__link
                            a(href="mk-separate.html").link-btn Подробнее
                li.card.swiper-slide
                    .card__head
                        .card__img
                            img(src="img/index/slider1.jpg" alt="")
                        ul.card__tags
                            li.card__tag #14февраля
                            li.card__tag #новинка
                            li.card__tag #рецепт
                        .card__label 15 мест осталось
                        .card__title День всех влюбленных
                    .card__body
                        .card__blocks
                            .card__block 
                                b 6000 ₽
                                span Взрослый билет
                            .card__block 
                                b ПТ, 14 февраля
                                span 19:00 - 22:00
                        .card__address Студия на ул. Дыбенко, 8к1, мне кажется может быть много слов
                        .card__link
                            a(href="mk-separate.html").link-btn Подробнее
            .swiper-pagination-masters.swiper-pagination