section.descriptor(style="background-image: url(../img/menu/descriptor.webp)")
    .container 
        .descriptor__inner
            h1.descriptor__title Меню
            .descriptor__links
                a(href="#").descriptor__link Заказать мероприятие
                a(href="#").descriptor__link Записаться на МК