section.section.certificates-about
    .container
        h2.section-title Как работают наши подарочные сертификаты?
        ul.certificates-about__list 
            li.certificates-about__item
                .certificates-about__icon
                    img(src="img/certificates/calendar.png", alt="")
                h5.certificates-about__title срок действия 6 месяцев
                p.certificates-about__text Можете купить сертификат сейчас и подарить его позже
            li.certificates-about__item
                .certificates-about__icon
                    img(src="img/certificates/rub.png", alt="")
                h5.certificates-about__title Любая сумма от 4000₽
                p.certificates-about__text Вы сами определяете комфортный для вас номинал сертификата
            li.certificates-about__item
                .certificates-about__icon
                    img(src="img/certificates/certificate.png", alt="")
                h5.certificates-about__title Удобный формат
                p.certificates-about__text Вы получите электронный сертификат после оплаты, в тот же день