section.section.section--bg.certificates-buy
    .container 
        h3.section-title Купить сертификат
        form.certificates-buy__form 
            .certificates-buy__box
                .certificates-buy__fields
                    .certificates-buy__field
                        input(type="text" name="fio" placeholder="Ваше имя").certificates-buy__input
                    .certificates-buy__field
                        input(type="text" name="tel" placeholder="+7 (999) 000-00-00").certificates-buy__input.js-inputPhone
                    .certificates-buy__field
                        input(type="email" name="mail" placeholder="Email").certificates-buy__input
                    .certificates-buy__field
                        input(type="text" name="sum" placeholder="Введите сумму, ₽").certificates-buy__input
                .certificates-buy__text 
                    p На сумму <b>2 500 ₽</b> можно заказать детский мастер-класс
                    p На сумму <b>5 000 ₽</b> можно заказать проведение чего-то
                    p На сумму <b>10 000 ₽</b> можно заказать проведение чего-то
            button(type="submit").btn.certificates-buy__btn Купить сертификат