section.section.certificates-description
    .container
        h2.section-title Подарочный сертификат от студии Cookforia 
        .certificates-description__inner 
            .certificates-description__text 
                p Подарочный сертификат на кулинарный мастер-класс станет отличным сюрпризом и романтической возможностью удивить и накормить.
                p Подарите себе и своим друзьям мастер-класс в кулинарной студии Cookforia, и потрясающие воспоминания останутся с вами надолго!
                p Зажигательные шеф-повара поделятся своими секретами, дружная веселая компания не даст заскучать, а вкусный гастрономический ужин, приготовленный своими руками, станет прекрасным завершением вечера!
                p Приходите к нам вместе с другом или самостоятельно, учитесь готовить легко и просто, или подарите такую возможность близким!
            .certificates-description__img
                img(src="./img/certificates/description.webp", alt="")