section.section.certificates-how
    .container 
        h3.section-title Как купить сертификат?
        .certificates-how__inner 
            .certificates-how__icon 
                img(src="img/certificates/online.svg", alt="")
            .certificates-how__title Можете заказать на сайте или позвоните нашему менеджеру
            p.certificates-how__text После оплаты, в тот же день, вы получите электронный формат сертификата.<br/>Для использования сертификат не обязательно распечатывать.
            button(type="button").btn.certificates-how__btn Обратный звонок