section.section.about 
    .container 
        h4.section-title В студии как дома
        .about__inner 
            p.about__text В кулинарной студии Cookforia используется оборудование и техника, аналогичная той, что есть на вашей домашней кухне. Забудьте о профессиональном оборудовании ресторанов! Здесь вы научитесь готовить любимые блюда, используя привычные духовки, плиты, блендеры и другую бытовую технику. Это значит, что все рецепты, которые вы освоите на наших мастер-классах, вы сможете легко повторить дома, не тратясь на дорогостоящее профессиональное оборудование. Мы верим, что кулинария должна быть доступна каждому, и поэтому создали комфортную обстановку, максимально приближенную к домашней.
            ul.about__items     
                li.about__item 
                    .about__icon 
                        img(src="img/studio/about1.png", alt="")
                    .about__name Мебель и кухня
                li.about__item 
                    .about__icon 
                        img(src="img/studio/about2.png", alt="")
                    .about__name Бытовая техника
                li.about__item 
                    .about__icon 
                        img(src="img/studio/about3.png", alt="")
                    .about__name Кухонный инветарь
                li.about__item 
                    .about__icon 
                        img(src="img/studio/about4.png", alt="")
                    .about__name Посуда
        .about__slider.swiper.js-sliderAbout
            .about__imgs.swiper-wrapper
                .about__img.swiper-slide
                    img(src="./img/studio/about-slider1.png", alt="")
                .about__img.swiper-slide
                    img(src="./img/studio/about-slider2.png", alt="")
                .about__img.swiper-slide
                    img(src="./img/studio/about-slider3.png", alt="")
                .about__img.swiper-slide
                    img(src="./img/studio/about-slider4.png", alt="")
            .swiper-pagination-about.swiper-pagination

