section.section.chef 
    .container 
        h3.section-title Главный шеф-повар студии
        .chef__inner
            .chef__slider.swiper.js-sliderContent
                ul.chef__imgs.swiper-wrapper
                    li.chef__img.swiper-slide
                        img(src="./img/studio/chef1.webp", alt="")
                    li.chef__img.swiper-slide
                        img(src="./img/studio/chef2.webp", alt="")
                    li.chef__img.swiper-slide
                        img(src="./img/studio/chef3.webp", alt="")
                    li.chef__img.swiper-slide
                        img(src="./img/studio/chef4.webp", alt="")
                .swiper-pagination-chef.swiper-pagination
                .chef__arrows.arrows.arrows--bg
                    button.swiper-button-prev.swiper-button-prev-chef
                    button.swiper-button-next.swiper-button-prev-chef
            .chef__description 
                .chef__name Смирнов Алексей
                .chef__post Шеф-повар, кондитер, пекарь
                p.chef__text Люблю готовить, считаю что приготовление пищи это сакральное дело, и относиться к нему надо с душой и внимательностью, одним словом любить своё дело».В кулинарии более 13 лет, за это время успел познать гастрономический дзен.