section.descriptor
    .descriptor__img(inert)
        img(src="img/studio/descriptor.webp", alt="")
    .container 
        .descriptor__inner
            h1.descriptor__title Студия Cookforia на улице Дыбенко
            .descriptor__links
                a(href="#").descriptor__link Заказать мероприятие
                a(href="#").descriptor__link Мастер-классы