section.section.description 
    .container 
        h2.section-title Заголовок о студии
        .description__box 
            .description__content
                p.description__text Компания Cookforia предлагает своим гостям атмосферную и просторную лофт-студию для проведения любых мероприятий. В нашей студии дружелюбная и непринужденная атмосфера, интересные рецептыи команда профессионалов, влюбленных в искусство кулинарии. В студии используется доступный инвентарь и доступная техника, чтобы наши гости с легкостью смогли повторить приготовления блюд дома. 
                button(type="button").description__btn.btn Арендовать студию
            .description__media
                img(src="img/studio/scheme.jpg", alt="")
            button(type="button").description__btn.description__btn--mobile.btn Арендовать студию

