section.section 
    .container 
        h3.section-title В нашей студии проведено множество замечательных мероприятий
        ul.gallery__tabs
            li.gallery__tab.active Корпоративы
            li.gallery__tab Девичник
            li.gallery__tab День рождения
            li.gallery__tab Детский праздник
            li.gallery__tab Свидание
            li.gallery__tab Вечеринка
        .gallery__slider.swiper.js-sliderGallery
            .gallery__list.swiper-wrapper
                .gallery__item.swiper-slide
                    img(src="./img/events/gallery1.webp", alt="")
                .gallery__item.swiper-slide
                    img(src="./img/events/gallery1.webp", alt="")
                .gallery__item.swiper-slide
                    img(src="./img/events/gallery1.webp", alt="")
                .gallery__item.swiper-slide
                    img(src="./img/events/gallery1.webp", alt="")
            .swiper-pagination-gallery.swiper-pagination
            .gallery__arrows.arrows--bg
                button.swiper-button-prev-gallery.swiper-button-prev
                button.swiper-button-next-gallery.swiper-button-next
