section.section.photo 
    .container 
        h3.section-title Эффектная фотозона для ваших прекрасных фотографий
        .photo__slider.swiper.js-sliderDefault
            ul.photo__imgs.swiper-wrapper
                li.photo__img.swiper-slide
                    img(src="./img/studio/photo1.webp", alt="")
                li.photo__img.swiper-slide
                    img(src="./img/studio/photo2.webp", alt="")
                li.photo__img.swiper-slide
                    img(src="./img/studio/photo3.webp", alt="")
            .swiper-pagination-default.swiper-pagination