section.section.section--bg.reviews 
    .container 
        h3.section-title.section-title--nomobile Отзывы о студии Cookforia на ул. Дыбенко 
        .reviews__inner.reviews__inner--narrow
            .reviews__total Все отзывы <span>5.0</span>
            a(href="#").reviews__yandex Карты 5.0 
            a(href="#").reviews__google 5.0 
            a(href="#").reviews__link.link-btn Оставить отзыв 
            .reviews__count 
                p 5.0 из 5
                img(src="img/reviews/stars.svg" alt="") 
                span На основе 242 оценок
        .reviews__item.reviews__item--solo
            .reviews__address Студия на ул. Дыбенко 
            .reviews__media 
                img(src="img/reviews/media1.png" alt="") 