section.section.mk-description 
    .container 
        .mk-description__title Погрузитесь в мир кулинарии на наших мастер-классах! Научитесь готовить вкусныеи изысканные блюда под руководством опытных шеф-поваров в уютной атмосфере. Выбирайте мастер-класс по своему вкусу и уровню подготовки – от простых рецептов до сложных кулинарных техник.  Запишитесь уже сегодня!
section.section 
    .container 
        h2.section-title Индивидуальный мастер-класс
        .mk-description__inner 
            .mk-description__text
                p Индивидуальный кулинарный мастер-класс — возможность провести уютный вечерс близкими весело, интересно и с пользой. За 3 часа вы получите яркие эмоции, научитесь готовить изысканные блюда и вместе насладитесь результатом. 
                p Забронировать индивидуальный кулинарный мастер-класс СПб для вашей компании вы сможете в студии Cookforia. Гарантируем большой выбор блюд, бесплатные безалкогольные напитки и незабываемые впечатления. Участвовать в мероприятии могут от 2 до 50 человек.
            .mk-description__media
                img(src="img/mk/mk.webp", alt="")

