section.section.mk-field 
    .container 
        h2.section-title Выездные мастер-классы со тудинй Cookforia
        .mk-field__inner 
            p.mk-field__text Выездной мастер-класс - это не просто развлечение,а отличный способ открыть для себя новые вкусыи секреты кулинарии, а также интересный формат для корпоративных мероприятий, дружеских вечеров или семейных праздников.
            .mk-field__media
                img(src="img/mk/mk-field.webp", alt="")
            .mk-field__links
                a(href="#").mk-field__link.link-btn Записаться
                a(href="#").mk-field__link.link-btn.link-btn--transparent Узнать подробнее

