section.section.mk-services 
    .container 
        h2.section-title Что вас ждёт на мастер-классе в Cookforia?
        .mk-services__slider.swiper.js-sliderServices
            ul.mk-services__list.swiper-wrapper
                li.mk-services__item.swiper-slide
                    .mk-services__head
                        .mk-services__icon
                            img(src="img/mk/service1.png", alt="")
                        .mk-services__name Блюда на ваш вкус
                    .mk-services__text В отличие от групповых занятий, в индивидуальном формате вы сами выбираете меню. Предлагаем 15 вариантов меню и самую разную кухню — итальянскую, французскую, тайскую, японскую. Каждый гость приготовит и попробует три аппетитных блюда по авторским рецептам. Как правило, это салат, горячее и десерт.
                li.mk-services__item.swiper-slide
                    .mk-services__head
                        .mk-services__icon
                            img(src="img/mk/service2.png", alt="")
                        .mk-services__name Новые кулинарные навыки
                    .mk-services__text Шеф-повар студии не просто научит вас готовить вкусную еду. Он поможет освоить тонкости в приготовлении изысканных блюд. Полученные знания и навыки вы сможете применить у себя дома. Индивидуальный мастер-класс по кулинарии — это про новые вкусы и открытия.
                li.mk-services__item.swiper-slide
                    .mk-services__head
                        .mk-services__icon
                            img(src="img/mk/service3.png", alt="")
                        .mk-services__name Винная карта
                    .mk-services__text Дополнить ужин и привнести в него больше положительных эмоций поможет вкусное и ароматное вино. Наша винная карта включает напитки, которые хорошо сочетаются с разными блюдами. Вы можете доверить выбор нашему сомелье или принести алкоголь с собой (действует пробковый сбор).
                li.mk-services__item.swiper-slide
                    .mk-services__head
                        .mk-services__icon
                            img(src="img/mk/service4.png", alt="")
                        .mk-services__name Командная работа
                    .mk-services__text Кулинарные мастер-классы отлично подходят для сплочения близких, друзей или рабочего коллектива. Совместное приготовление еды создает атмосферу сотрудничества и доверия, что способствует укреплению взаимоотношений и развитию командного духа.
                li.mk-services__item.swiper-slide
                    .mk-services__head
                        .mk-services__icon
                            img(src="img/mk/service5.png", alt="")
                        .mk-services__name Удобное пространство
                    .mk-services__text Наше помещение оборудовано всем необходимым для комфортного приготовления пищи. Предлагаем просторную кухню с современным оборудованием, а также большую зону для отдыха, где вы можете расслабиться и насладиться результатами своего труда.
            .swiper-pagination-services.swiper-pagination
        .mk-services__title Запишитесь на мастер-классв кулинарную студию Cookforia и превратите любое событие в праздник!
        button(type="button").btn.btn--wide.mk-services__btn Записаться 