section.section(class={ 'section--bg': page === 'index'}) 
    .container
        h3.section-title Мероприятия у нас
        .cards__slider.swiper.js-sliderEvents
            .cards__list.swiper-wrapper
                a(href="#").card.card--img.swiper-slide
                    .card__img
                        img(src="img/index/slider2.png" alt="")
                    .card__name Корпоративы 
                a(href="#").card.card--img.swiper-slide
                    .card__img
                        img(src="img/index/slider2.png" alt="")
                    .card__name Аренда кулинарной студии 
                a(href="#").card.card--img.swiper-slide
                    .card__img
                        img(src="img/index/slider2.png" alt="")
                    .card__name Детский праздник 
                a(href="#").card.card--img.swiper-slide
                    .card__img
                        img(src="img/index/slider2.png" alt="")
                    .card__name Свидание 
            .swiper-pagination-events.swiper-pagination
        a(href="events.html").cards__link Смотреть все мероприятия