section.section.celebrate 
    .container 
        .celebrate__inner 
            h2.section-title 
            .section-text   
                p Хотите провести день рождение на нашем мастер-классе? А может быть, корпоратив с коллегами, который запомниться всем?
                p 
                    b Мы приготовили для вас скидки и подарки!
            .celebrate__slider.swiper.js-sliderCelebrate
                .celebrate__list.swiper-wrapper
                    .celebrate__item.swiper-slide
                        .celebrate__img
                            img(src="img/celebrate/slide1.png" alt="")
                        h5.celebrate__item-title День рождения 
                        ul.celebrate__item-list 
                            li Скидка 10% для всех гостей
                            li Фартук от студии в подарок
                            li еще что то
                            li еще что то
                        p.celebrate__item-text Предложение действует при покупке от 5 билетов на мастер-классы из календаря
                        .celebrate__item-link
                            a(href="#").link-btn Подробнее
                    .celebrate__item.swiper-slide
                        .celebrate__img
                            img(src="img/celebrate/slide2.png" alt="")
                        h5.celebrate__item-title Корпоратив
                        ul.celebrate__item-list 
                            li Скидка 10% для всех гостей
                            li Фартук от студии в подарок
                        p.celebrate__item-text Предложение действует при покупке от 5 билетов на мастер-классы из календаря а может и ещё когда-то
                        .celebrate__item-link
                            a(href="#").link-btn Подробнее
                    .celebrate__item.swiper-slide
                        .celebrate__img
                            img(src="img/celebrate/slide3.png" alt="")
                        h5.celebrate__item-title Свидание для двоих 14.02
                        ul.celebrate__item-list 
                            li Скидка 10% для всех гостей
                            li Фартук от студии в подарок
                            li еще что то
                            li еще что то
                            li еще что то
                        p.celebrate__item-text Предложение действует при покупке от 5 билетов на мастер-классы из календаря а может и ещё когда-то
                        .celebrate__item-link
                            a(href="#").link-btn Подробнее
                .swiper-pagination-celebrate.swiper-pagination
