section.descriptor.descriptor--half
    .descriptor__img(inert)
        img(src="img/stocks/descriptor.webp", alt="")
    .container 
        .descriptor__inner
            h1.descriptor__title Название акции
            p.descriptor__text Описание акции: например акция на мастер-классы для мужчин на 23 февраля, скидка для мужчин 20%
            .descriptor__timer 
                span Окончание акции через:
                b 4 дня | 16 часов | 15 минут
            .descriptor__links.descriptor__links--noline 
                a(href="#").descriptor__link.descriptor__link--short Оставить заявку