section.descriptor.descriptor--small-pt
    .descriptor__img(inert)
        img(src="img/recipe/descriptor.webp", alt="")
    .container 
        .descriptor__inner
            time(datetime="2025-02-10").descriptor__date 10.02.2025
            h1.descriptor__title Шоколадный торт с клубникой и карамелью
            .descriptor__links
                a(href="#").descriptor__link Заказать мероприятие
                a(href="#").descriptor__link Мастер-классы