nav.pagination
    a(href="#!").pagination__link.link-btn Показать больше
    ol.pagination__list
        li.pagination__prev
            a(href="#")
        li.pagination__item
            a(href="#") 1
        li.pagination__item.active
            a(href="#") 2
        li.pagination__item
            a(href="#") 3
        li.pagination__item
            a(href="#") 4
        li.pagination__item
            a(href="#") 5
        li.pagination__dots
            span ...
        li.pagination__next
            a(href="#") 
