section.descriptor
    .descriptor__img(inert)
        img(src="img/events/descriptor.webp", alt="")
    .container 
        .descriptor__inner
            h1.descriptor__title Мероприятия в студии Cookforia
            .descriptor__links
                a(href="#").descriptor__link Заказать мероприятие
                a(href="#").descriptor__link Мастер-классы