section.section.events-cards
    .container 
        .events__text Хотите организовать незабываемый праздник или весело провести время в компании? Да, если местом встречи стала студия Cookforia!
        .events__text Мы предлагаем проведение:
        .cards__slider.swiper.js-sliderEvents
            .cards__list.swiper-wrapper
                a(href="#").card.card--img.swiper-slide
                    .card__img
                        img(src="img/events/event1.webp" alt="")
                    .card__name Корпоративы 
                a(href="#").card.card--img.swiper-slide
                    .card__img
                        img(src="img/events/event2.webp" alt="")
                    .card__name Девичник
                a(href="#").card.card--img.swiper-slide
                    .card__img
                        img(src="img/events/event3.webp" alt="")
                    .card__name День рождения
                a(href="#").card.card--img.swiper-slide
                    .card__img
                        img(src="img/events/event4.webp" alt="")
                    .card__name Детский праздник 
                a(href="#").card.card--img.swiper-slide
                    .card__img
                        img(src="img/events/event5.webp" alt="")
                    .card__name Свидание 
                a(href="#").card.card--img.swiper-slide
                    .card__img
                        img(src="img/events/event6.webp" alt="")
                    .card__name Вечеринка
                a(href="#").card.card--img.swiper-slide
                    .card__img
                        img(src="img/events/event7.webp" alt="")
                    .card__name Аренда
                a(href="#").card.card--img.swiper-slide
                    .card__img
                        img(src="img/events/event8.webp" alt="")
                    .card__name Кейтеринг 
            .swiper-pagination-events.swiper-pagination
        