section.section.price 
    .container 
        .price__inner(style="background-image:url(./img/events/price.webp)")
            h4.price__title Стоимость мероприятий в студии Cookforia от 3700 ₽*
            p.price__text *Стоимость зависит от выбранного меню. Цена в меню указана для одного участника.
            a(href="#").price__link.link-btn Заказать мероприятие 
        h5.price__list-title Что входит в стоимость?
        .price__list
            .price__list-col
                .price__list-item Безлимитный безалкогольный бар
                .price__list-item Работа профессионального шеф-повара
            .price__list-col
                .price__list-item Меню на 3-4 позиции из 300+ видов блюд
                .price__list-item Дегустация алкогольных напитков
            .price__list-col
                .price__list-item Инвентарь и продукты для приготовления
                .price__list-item Развлекательная программа
                .price__list-item Фотосессия