section.section.services 
    .container 
        h3.section-title Дополнительные услуги
        .services__slider.swiper.js-sliderServices
            .services__list.swiper-wrapper
                .services__item.swiper-slide
                    .services__img
                        img(src="./img/events/service1.png", alt="")
                    .services__name Фотограф
                    .services__price 5000 руб. в час
                .services__item.swiper-slide
                    .services__img
                        img(src="./img/events/service2.png", alt="")  
                    .services__name Азотное шоу
                    .services__price от 8000 руб.
                .services__item.swiper-slide
                    .services__img
                        img(src="./img/events/service3.png", alt="")
                    .services__name Фуршет
                    .services__price от 1000 руб. за 1 гостя
                .services__item.swiper-slide
                    .services__img
                        img(src="./img/events/service4.png", alt="")
                    .services__name Банкет
                    .services__price от 3900 руб. за 1 гостя
                .services__item.swiper-slide
                    .services__img
                        img(src="./img/events/service5.png", alt="")
                    .services__name Ведущий
                    .services__price от 35000 руб.
                .services__item.swiper-slide
                    .services__img
                        img(src="./img/events/service6.png", alt="")
                    .services__name Украшение зала шарами
                    .services__price от 3000 руб.
                .services__item.swiper-slide
                    .services__img
                        img(src="./img/events/service7.png", alt="")
                    .services__name Официант
                    .services__price от 5000 руб. за 3 часа
                .services__item.swiper-slide
                    .services__img
                        img(src="./img/events/service8.png", alt="")
                    .services__name Диджей
                    .services__price от 8000 руб. в час
                .services__item.swiper-slide
                    .services__img
                        img(src="./img/events/service9.png", alt="")
                    .services__name Декор помещения
                    .services__price от 5000 руб.
                .services__item.swiper-slide
                    .services__img
                        img(src="./img/events/service10.png", alt="")
                    .services__name Шоу программы
                    .services__price от 3500 руб. за букет
            .swiper-pagination-services.swiper-pagination