section.section.mk-combined-description 
    .container 
        h2.section-title Сборные мастер-классы от студии Cookforia 
        .mk-combined__inner 
            .mk-combined__text
                p Сборные мастер-классы – открытый формат мастер-классов, записываются все желающие: взрослые и дети от 14 лет.
                p Проходят каждую неделю, идеальны для свиданий, уютных встреч без повод и знакомства со студией, если вы планируете отмечать у нас праздник. Расписание сборных мастер-классов обновляется каждый месяц. Предварительная запись обязательна, так как количество мест на каждый мастер-класс ограничено.
            .mk-combined__media 
                img(src="img/mk/mk-combined.webp", alt="")
