section.section.additions
    .container
        h3.section-title Приятные дополнения
        ul.additions__list
            li.additions__item 
                .additions__img 
                    img(src="img/index/additions1.png" alt="")
                p.additions__name Возможность продления мероприятия
            li.additions__item 
                .additions__img 
                    img(src="img/index/additions2.png" alt="")
                p.additions__name Безлимитные безалкогольные напитки
            li.additions__item 
                .additions__img 
                    img(src="img/index/additions3.png" alt="")
                p.additions__name Зона отдыха с кикером и playstation
            li.additions__item 
                .additions__img 
                    img(src="img/index/additions4.png" alt="")
                p.additions__name Игровая зона для детей
        .additions__text К вашим услугам: стильное и комфортное пространство для проведения мероприятия (кухонный остров со всем необходимым оборудованием и инвентарем), профессиональная команда (шеф-повар, ведущий, официанты, бармены), безлимитные безалкогольные напитки, возможность организации фуршета, разнообразное меню, зоны отдыха для взрослых и детей, азотное шоу.