section.section.chefs
    .container
        h3.section-title Наши шеф-повара
        .chefs__slider.swiper.js-sliderChefs
            ul.chefs__list.swiper-wrapper
                li.chefs__item.swiper-slide
                    .chefs__img
                        img(src="img/index/chefs1.png" alt="")
                    .chefs__description
                        .chefs__name Гудков Владимир
                        .chefs__speciality Шеф-повар, кондитер, пекарь
                        .chefs__text Опытный шеф-повар с более чем 15-ю годами успешной работы в сфере кулинарии, обладающий страстью к созданию уникальных блюд, которые радуют не только глаз, но и вкус.
                li.chefs__item.swiper-slide
                    .chefs__img
                        img(src="img/index/chefs2.png" alt="")
                    .chefs__description
                        .chefs__name Смирнов Алексей
                        .chefs__speciality Шеф-повар, кондитер, пекарь
                        .chefs__text Люблю готовить, считаю что приготовление пищи это сакральное дело, и относиться к нему надо с душойи внимательностью, одним словом любить своё дело».В кулинарии более 13 лет, за это время успел познать гастрономический дзен.
                li.chefs__item.swiper-slide
                    .chefs__img
                        img(src="img/index/chefs3.png" alt="")
                    .chefs__description
                        .chefs__name Никулин Влад
                        .chefs__speciality Шеф-повар, кондитер, пекарь
                        .chefs__text Моя карьера охватывает широкий спектр кухонь, где я развивал свои навыки, работая в престижных ресторанахи на гастрономических фестивалях.
            .swiper-pagination-chefs.swiper-pagination