section.section.motivation
    .container 
        .motivation__inner 
            h2.section-title.section-title--center В&nbsp;студии Cookforia кулинария&nbsp;&mdash; это не&nbsp;просто еда, а&nbsp;целая история эмоций и&nbsp;впечатлений! Приходите, и&nbsp;убедитесь сами!
            ul.motivation__items 
                li.motivation__item
                    .motivation__icon
                        img(src="/img/index/motivation1.png", alt="")
                    .motivation__description 
                        h5.motivation__name Для любого повода
                        p.motivation__text Любое частное мероприятие<br> Корпоратив или выпускной<br> Детский праздник<br> День рождения
                li.motivation__item
                    .motivation__icon
                        img(src="/img/index/motivation2.png", alt="")
                    .motivation__description 
                        h5.motivation__name Большой выбор меню различных кухонь мира
                        a(href="menu.html").motivation__link Смотреть меню 
                li.motivation__item
                    .motivation__icon
                        img(src="/img/index/motivation3.png", alt="")
                    .motivation__description 
                        h5.motivation__name От 2 до 60 человек
                        p.motivation__text Индивидуальный кулинарный мастер-класс для вашей компании
                li.motivation__item
                    .motivation__icon
                        img(src="/img/index/motivation4.png", alt="")
                    .motivation__description 
                        h5.motivation__name Дополнительные услуги на любой вкус
                        p.motivation__text Фотограф, фуршет, азотное шоу, видооператор, украшение зала шарами
                li.motivation__item
                    .motivation__icon
                        img(src="/img/index/motivation5.png", alt="")
                    .motivation__description 
                        h5.motivation__name Клиентоориентированность во всем
                        p.motivation__text Быстрая обработка заявок<br>Индивидуальный подход<br>Персональный менеджер, доступные цены и качественное обслуживание
                li.motivation__item
                    .motivation__icon
                        img(src="/img/index/motivation6.png", alt="")
                    .motivation__description 
                        h5.motivation__name 3 кулинарные студии рядом с метро
                        p.motivation__text Студии в стильном дизайнерском оформлении с игровыми зонами для детей и взрослых
            .motivation__content
                h4 Добро пожаловать в&nbsp;Cookforia&nbsp;&mdash; место, где кулинария превращается в&nbsp;искусство!
                p.motivation__text Наша кулинарная студия предлагает уникальную возможность научиться готовить под руководством опытных шеф-поваров и&nbsp;насладиться процессом создания блюд. Мы&nbsp;проводим кулинарные мастер-классы для всех, кто хочет совершенствовать свои навыки&nbsp;&mdash; от&nbsp;новичковдо&nbsp;гурманов. В&nbsp;уютной атмосфере студии каждый сможет раскрыть свой кулинарный потенциал и&nbsp;создать настоящие гастрономические шедевры. В&nbsp;Cookforia можно организовать мастер-классы, отметить праздник, провести корпоративное мероприятие или просто приятно провести время за&nbsp;приготовлением блюд.<br>Присоединяйтесь к нам, откройте новые гастрономические горизонты, почувствуйте себя шеф-поваром и получите незабываемые эмоции!