section.section.partners
    .container
        h3.section-title Наши партнеры
        ul.partners__list
            li.partners__item 
                .partners__img 
                    img(src="img/partners/partner1.png" alt="")
            li.partners__item 
                .partners__img 
                    img(src="img/partners/partner2.png" alt="")
            li.partners__item 
                .partners__img 
                    img(src="img/partners/partner3.png" alt="")
            li.partners__item 
                .partners__img 
                    img(src="img/partners/partner4.png" alt="")
            li.partners__item 
                .partners__img 
                    img(src="img/partners/partner5.png" alt="")