section.section.price 
    .container 
        h3.section-title Что входит в стоимость
        .price__list.price__list--two
            .price__list-col
                .price__list-item Безлимитный безалкогольный бар
                .price__list-item Работа профессионального шеф-повара
                .price__list-item Работа профессионального шеф-повара
            .price__list-col
                .price__list-item Меню на 3-4 позиции из 300+ видов блюд
                .price__list-item Дегустация алкогольных напитков
                .price__list-item Дегустация алкогольных напитков