section.section.section--bg.product 
    .container
        .product__inner 
            .product__banner 
                .product__img(inert)
                    img(src="img/mk/product.png", alt="")
                .product__banner-text 
                    .product__labels
                        .product__label 15 мест осталось 
                        .product__label.product__label--icon 18+
                        .product__label.product__label--red ХИТ
                    .product__name Итальянская кухня
                    .product__info
                        .product__info-item Вс, 19 января
                        .product__info-item 14:00 - 17:00
            .product__price 
                .product__logo
                    img(src="img/icons/logo-black.svg", alt="")
                .product__price-label Адрес студии:
                .product__address СПб, ул. Дыбенко, 8к1
                .product__parameters
                    .product__parameter 
                        span Продолжительность
                        span 12:00 - 15:00
                .product__total 
                    .product__price-text Стоимость
                    .product__box
                        .product__radio 
                            input(type="radio" name="age" disabled checked id="adult")
                            label(for="adult") Взрослые
                        b.product__price-value 3700 ₽
                    button(type="button").btn.btn--wide.product__btn Купить билет
        .product__gallery
            .product__gallery-head
                .product__title Блюда мастер-класса
                .arrows.arrows--line
                    button.product-button-prev.swiper-button-prev
                    button.product-button-next.swiper-button-next
            .product__slider.swiper.js-sliderProduct
                ul.product__list.swiper-wrapper
                    li.product__item.swiper-slide
                        .product__item-img
                            img(src="img/mk/product-holder1.png" alt="")
                        .product__item-name Меню #1
                        .product__item-text Салат Цезарь с курицей и перепелиными яйцами
                    li.product__item.swiper-slide
                        .product__item-img
                            img(src="img/mk/product-holder2.png" alt="")
                        .product__item-name Меню #1
                        .product__item-text Домашняя паста карбонара
                    li.product__item.swiper-slide
                        .product__item-img
                            img(src="img/mk/product-holder3.png" alt="")
                        .product__item-name Меню #1
                        .product__item-text Милфей 1000 слоев
                    li.product__item.swiper-slide
                        .product__item-img
                            img(src="img/mk/product-holder4.png" alt="")
                        .product__item-name Меню #1
                        .product__item-text Салат с авокадо, жареным Бри и соусом песто
                    li.product__item.swiper-slide
                        .product__item-img
                            img(src="img/mk/product-holder5.png" alt="")
                        .product__item-name Меню #1
                        .product__item-text Салат Цезарь с курицей и перепелиными яйцами


