section.descriptor(style="background-image: url(../img/index/descriptor.webp)")
    .container 
        .descriptor__inner
            h1.descriptor__title Кулинарная студия Cookforia
            p.descriptor__text Научитесь готовить под руководством лучших шеф-поваров города
            .descriptor__links.descriptor__links--noline 
                a(href="#").descriptor__link Заказать мероприятие
                a(href="#").descriptor__link Мастер-классы