section.section 
    .container 
        .celebrate__inner 
            h2.section-title Действующие акции
            .celebrate__slider.swiper.js-sliderCelebrate
                .celebrate__list.swiper-wrapper
                    .celebrate__item.swiper-slide
                        .celebrate__img
                            img(src="img/celebrate/slide1.png" alt="")
                        h5.celebrate__item-title День рождения 
                        .celebrate__item-link
                            a(href="#").link-btn.link-btn--wide Подробнее
                    .celebrate__item.swiper-slide
                        .celebrate__img
                            img(src="img/celebrate/slide2.png" alt="")
                        h5.celebrate__item-title Корпоратив
                        .celebrate__item-link
                            a(href="#").link-btn.link-btn--wide Подробнее
                    .celebrate__item.swiper-slide
                        .celebrate__img
                            img(src="img/celebrate/slide3.png" alt="")
                        h5.celebrate__item-title Свидание для двоих 14.02
                        .celebrate__item-link
                            a(href="#").link-btn.link-btn--wide Подробнее
                .swiper-pagination-celebrate.swiper-pagination
