section.error-wrapper 
    .container
        .error-page__inner 
            .error-page__description
                h1.error-page__title Ой, страница не найдена...
                p.error-page__text Вернитесь на главную страницу, чтобы продолжить кулинарное путешествие!
                a(href="/").error-page__link.link-btn Главная
            .error-page__img 
                img(src="img/404.png", alt="")

