section.certificate 
    .container
        .certificate__inner
            picture.certificate__img
                source(srcset='img/certificate/certificate.webp' type='image/webp')
                img(src='img/certificate/certificate.png' alt="Подарочный сертификат")
            .certificate__description
                h4.certificate__title Подарочный сертификат
                p.certificate__text Приходите к нам вместе с другом или самостоятельно, учитесь готовить легко и просто, или подарите такую возможность близким!
                a(href="#").certificate__link.link-btn Выбрать сертификат
