section.descriptor
    .descriptor__img(inert)
        img(src="img/contacts/descriptor.webp", alt="")
    .container 
        .descriptor__inner
            h1.descriptor__title Контакты
            .descriptor__links
                a(href="#").descriptor__link Заказать мероприятие
                a(href="#").descriptor__link Записаться на МК
section.section.contacts 
    .container 
        .route__info
            .route__info-item
                .route__info-title Часы работы
                .route__info-text Ежедневно: 10:00 - 22:00
            .route__info-item
                .route__info-title Контактный телефон/Email
                .route__info-text 
                    a(href="tel:+78126112462") +7 (812) 611-24-62
                    a(href="mailto:contact@cookforia.ru") contact@cookforia.ru
            .route__info-item
                .route__info-title Социальные сети
                .route__info-text 
                    ul.route__socials.socials-transparent
                        li 
                            a(href="#" target="_blank").route__social.social-transparent.social-transparent--tg
                        li 
                            a(href="#" target="_blank").route__social.social-transparent.social-transparent--instagram 
                        li 
                            a(href="#" target="_blank").route__social.social-transparent.social-transparent--vk
        .section-title Наши студии
        .route__tabs
            .route__tab.active Студия на ул. Дыбенко
            .route__tab Студия на Московский проспект 183-185
            .route__tab Студия на ул. Ильюшина
        .route__content.show
            .route__map
                iframe(src="https://yandex.ru/map-widget/v1/?um=constructor%3Acb773d422472c9ae23234a3a5280eb3018094d4c9b369d6695657d747d999a63&amp;source=constructor" width="100%" height="400" frameborder="0")
            .route__box
                .route__description 
                    .route__title-wrap
                        a(href="#").route__link.link-btn.link-btn--square посмотреть 3d-тур 
                        .route__title Студия Cookforia
                    .route__text Адрес: улица Дыбенко, 8к1
                    .route__subtitle Как добраться:
                    ul.route__list
                        li.route__item 
                            b На метро: 
                            p до станции метро “Московская” вход 5, далее по Московскому проспекту в сторону центра города итд
                        li.route__item 
                            b На машине:
                            p 59.8551558086576, 30.319051838643826
                        li.route__item 
                            b Парковки:
                            p написать где можно поближе припарковать автомобиль
                        li.route__item 
                            b На автобусе: 
                            p написать как проехать на автобусе
                .route__img 
                    img(src="img/studio/map.png", alt="Карта")
            .route__footer 
                .route__footer-link построить маршрут в навигаторе
                a(href="studio.html").route__footer-btn.link-btn Подробнее о студии
        .route__content.show
            .route__map
                iframe(src="https://yandex.ru/map-widget/v1/?um=constructor%3Acb773d422472c9ae23234a3a5280eb3018094d4c9b369d6695657d747d999a63&amp;source=constructor" width="100%" height="400" frameborder="0")
            .route__box
                .route__description 
                    .route__title-wrap
                        a(href="#").route__link.link-btn.link-btn--square посмотреть 3d-тур 
                        .route__title Студия Cookforia
                    .route__text Адрес: улица Ильюшина, 5, корп.1
                    .route__subtitle Как добраться:
                    ul.route__list
                        li.route__item 
                            b На метро: 
                            p На метро: до станции метро “Московская” вход 5, далее по Московскому проспекту в сторону центра города итд
                        li.route__item 
                            b На машине:
                            p 59.8551558086576, 30.319051838643826
                        li.route__item 
                            b Парковки:
                            p написать где можно поближе припарковать автомобиль
                        li.route__item 
                            b На автобусе: 
                            p написать как проехать на автобусе
                .route__img 
                    img(src="img/studio/map1.png", alt="Карта")
            .route__footer 
                .route__footer-link построить маршрут в навигаторе
                a(href="studio.html").route__footer-btn.link-btn Подробнее о студии
        .route__content.show
            .route__map
                iframe(src="https://yandex.ru/map-widget/v1/?um=constructor%3Acb773d422472c9ae23234a3a5280eb3018094d4c9b369d6695657d747d999a63&amp;source=constructor" width="100%" height="400" frameborder="0")
            .route__box
                .route__description 
                    .route__title-wrap
                        a(href="#").route__link.link-btn.link-btn--square посмотреть 3d-тур 
                        .route__title Студия Cookforia
                    .route__text Адрес: Московский проспект 183-185
                    .route__subtitle Как добраться:
                    ul.route__list
                        li.route__item 
                            b На метро: 
                            p до станции метро “Московская” вход 5, далее по Московскому проспекту в сторону центра города итд
                        li.route__item 
                            b На машине:
                            p 59.8551558086576, 30.319051838643826
                        li.route__item 
                            b Парковки:
                            p написать где можно поближе припарковать автомобиль
                        li.route__item 
                            b На автобусе: 
                            p написать как проехать на автобусе
                .route__img 
                    img(src="img/studio/map.png", alt="Карта")
            .route__footer 
                .route__footer-link построить маршрут в навигаторе
                a(href="studio.html").route__footer-btn.link-btn Подробнее о студии
section.section 
    .container 
        .route__requisites
            .route__info-title Реквизиты
            .route__info-text 
                ul.route__info-list 
                    li Полное наименование компании
                    li Юридический адрес
                    li ИНН, КПП, ОГРН
                    li Банковские реквизиты (р/с, БИК, к/с)
                    li Контактные данные для бухгалтерии (телефон и email)
                
                