section.section 
    .container 
        h3.section-title Посмотрите, как проходят мероприятия в студии Cookforia
        .gallery__slider.swiper.js-sliderGallery
            .gallery__list.swiper-wrapper
                .gallery__item.swiper-slide
                    img(src="./img/events/gallery1.webp", alt="")
                .gallery__item.swiper-slide
                    img(src="./img/events/gallery1.webp", alt="")
                .gallery__item.swiper-slide
                    img(src="./img/events/gallery1.webp", alt="")
                .gallery__item.swiper-slide
                    img(src="./img/events/gallery1.webp", alt="")
            .swiper-pagination-gallery.swiper-pagination
            .gallery__arrows
                button.swiper-button-prev-gallery.swiper-button-prev
                button.swiper-button-next-gallery.swiper-button-next
