header.header.js-header(class={ 'header--nobg': page === 'index', 'header--bg': headerBg === true})
    .container
        .header__inner 
            a(href="/").header__logo 
                img(src="img/icons/logo.svg", alt="Cookforia") 
            button(type="button").header__burger.js-burger
                span Меню
            ul.header__links
                li.header__link 
                    a(href="#") Мастер-классы 
                li.header__link 
                    a(href="events.html") Мероприятия
                li.header__link 
                    a(href="#") Сертификат
            a(href="tel:+78126113908").header__phone
                span +7 (812) 611-39-08
            ul.header__socials
                li.header__social.header__social--tg
                    a(href="#" target="_blank" aria-label="telegram") 
                li.header__social.header__social--instagram
                    a(href="#" target="_blank" aria-label="instagram") 
                li.header__social.header__social--vk
                    a(href="#" target="_blank" aria-label="vk") 
            a(href="#").header__callback Обратный звонок 