section.section.stages 
    .container 
        h4.section-title За 3 часа незабываемых впечатлений вас ждет:
        ol.stages__list 
            li.stages__item
                .stages__title Встреча гостей
                ul.stages__text   
                    li Приветственный фуршет (доп. услуга)
                    li Welcome drinks
            li.stages__item
                .stages__title Начинаем мастер-класс
                ul.stages__text   
                    li Готовим 3 блюда под руководством шеф-повара
                    li Пьем напитки
                    li Задаем вопросы шефу
                    li Общаемся
            li.stages__item
                .stages__title Вкусный ужин
                ul.stages__text   
                    li Наслаждаемся приготовленными блюдами
                    li Фотографируемся
                    li Танцуем