section.section.studios
    .container 
        h3.section-title Наши студии
        ul.studios__list 
            li.studios__item 
                .studios__media 
                    img(src="img/studios/studio1.png", alt="")
                .studios__address Студия на ул. Дыбенко, 8к1 
                a(href="#").studios__link.link-btn Подробнее о студии
            li.studios__item 
                .studios__media 
                    img(src="img/studios/studio2.png", alt="")
                .studios__address Студия на Московский проспект 183-185
                a(href="#").studios__link.link-btn Подробнее о студии
            li.studios__item 
                .studios__media 
                    img(src="img/studios/studio3.png", alt="")
                .studios__address Студия на ул. Ильюшина 5, корп. 1
                a(href="#").studios__link.link-btn Подробнее о студии
        .studios__contacts 
            .studios__map
                iframe(src="https://yandex.ru/map-widget/v1/?um=constructor%3A314ab7660a974995f5dd5e763a05f8bac7b3a72c81ff89e7e4ab3a0e5765e616&amp;source=constructor" width="100%" height="310" frameborder="0")
            .studios__links 
                .studios__title Кулинарная студия Cookforia 
                a(href="tel:+78123363423").studios__links-item +7 (812) 336-34-23
                a(href="mailto:contact@cookforia.ru").studios__links-item contact@cookforia.ru
                .studios__subtitle Санкт-Петербург
                ul.studios__addresses
                    li Московский проспект 183-185
                    li Улица Дыбенко, 8к1
                            li Улица Ильюшина, 5к1
                ul.studios__socials.socials
                    li 
                        a(href="#" target="_blank").studios__social.social.social--vk
                    li 
                        a(href="#" target="_blank").studios__social.social.social--tg
                    li 
                        a(href="#" target="_blank").studios__social.social.social--instagram 
