article.article 
    .container 
        .article-content 
            p Солнечная Италия – это не только живописные пейзажи и древние города, но и невероятное разнообразие вкусов!  Ароматные травы, спелые помидоры, душистый базилик…  Все это создает неповторимую атмосферу итальянской кухни, которую вы можете легко воссоздать у себя дома.
            p В этой статье мы предлагаем вам отправиться в небольшое кулинарное путешествие по Италии, не выходя из собственной кухни.  Мы поделимся рецептами, которые помогут вам почувствовать настоящий вкус Италии, от простых и быстрых до более сложных, требующих времени и терпения.
            img(src="img/blog/article1.png", alt="")
            p 
                b Начните свое путешествие с классики:
            p <b>Паста Карбонара:</b> Кремовый соус, приготовленный с гуанчале (итальянской свиной щековиной) или панчеттой, яйцами и сыром пекорино-романо, идеально сочетается с аль денте спагетти.  Секрет настоящей карбонары – в правильном приготовлении соуса, который должен быть нежным и воздушным. Мы поделимся с вами секретами приготовления этого культового блюда!
            p <b>Пицца Маргарита:</b> Простая, но невероятно вкусная пицца, состоящая всего из помидоров, моцареллы и базилика.  Главное – использовать качественные ингредиенты, а также правильно замесить тесто, чтобы пицца получилась хрустящей и тонкой.
            p <b>Тирамису:</b> Этот классический итальянский десерт – идеальное завершение вашего кулинарного путешествия.  Нежный бисквит, пропитанный кофе, и воздушный крем маскарпоне – настоящий взрыв вкуса!
            img(src="img/blog/article2.png", alt="")