section.descriptor.descriptor--small-pt
    .descriptor__img(inert)
        img(src="img/blog/descriptor-article.jpeg", alt="")
    .container 
        .descriptor__inner
            time(datetime="2025-02-10").descriptor__date 10.02.2025
            h1.descriptor__title Кулинарное путешествие: вкусы Италии на вашей кухне
            .descriptor__links
                a(href="#").descriptor__link Заказать мероприятие
                a(href="#").descriptor__link Мастер-классы