block variables
    - var title = 'Кулинарная студия Cookforia'
    - var page = 'index'
    
doctype html
html(lang='ru')
    head
        include html/head
    body.body
        .wrapper
            include html/header
            include html/nav
            main.main
                include html/index/descriptor
                include html/index/motivation
            include html/footer