block variables
    - var title = 'Кулинарная студия Cookforia'
    - var page = 'index'
    - var cardsBg = true
    
doctype html
html(lang='ru')
    head
        include html/head
    body.body
        .wrapper
            include html/modules/header
            include html/modules/nav
            main.main
                include html/modules/index/descriptor
                include html/modules/index/motivation
                include html/modules/cards
                include html/modules/index/additions
                include html/modules/index/stocks
                include html/modules/certificate
                include html/modules/index/chefs
                include html/modules/studios
                include html/modules/reviews
                include html/modules/partners
                include html/modules/faq
            include html/modules/footer