include html/components/breadcrumbs
block variables
    - var title = 'Аренда студии'
    - var page = 'rent'
    
doctype html
html(lang='ru')
    head
        include html/head
    body.body(class=page)
        .wrapper
            include html/modules/header
            +breadcrumbs(
                { text: 'Аренда'},
                []
            )
            include html/modules/nav
            main.main
                include html/modules/rent/descriptor
                include html/modules/rent/description
                include html/modules/rent/price
                include html/modules/rent/studios
                include html/modules/reviews
                include html/modules/faq
            include html/modules/footer